# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.LabProject.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Uni and personal work\Unity Games\LabProject\.idea\.idea.LabProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
